/*主题颜色暂时设置为：#409EFF / 64, 158, 255*/
    * {
        box-sizing: content-box;
        -moz-box-sizing: inherit;
        -webkit-box-sizing: inherit;
    }

    a,
    div,
    input,
    textarea {
        outline: 0
    }

    body,
    dd,
    dl,
    dt,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    html,
    input,
    li,
    ol,
    p,
    textarea,
    ul {
        margin: 0;
        padding: 0;
        font-family: inherit;
    }

    button {
        font-family: inherit;
    }

    :focus {
        outline: none;
    }

    input,
    textarea {
        -webkit-tap-highlight-color: transparent;
        font-size: 14px
    }

    input[type=password] {
        ime-mode: disabled;
    }

    input::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.3);
    }

    input:-moz-placeholder {
        color: rgba(0, 0, 0, 0.3);
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    dl,
    ol,
    ul {
        list-style: none
    }

    body,
    html,
    #app {
        height: 100%;
    }

    body {
        font-family: MicrosoftYaHei, "微软雅黑", "PingFang SC", "华文细黑", Arial, Helvetica, sans-serif;
        background-color: #fff;
        font-size: 16px;
        /*color: #777777;*/
        color: #606266;
        margin: 0 auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        min-width: 1100px;
    }

    /* 重置element-ui */

    .wc-popup-text {
        max-height: 200px;
        overflow: auto
    }

    .el-form-item {
        /*margin-bottom: 10px;*/
    }

    .el-dialog__body {
        padding: 10px 20px;
    }

    .el-loading-mask {
        z-index: 10000
    }

    .el-textarea__inner {
        height: 100%;
    }

    /*.el-upload {*/
    /*width: 100%*/
    /*}*/

    .el-tag {
        color: #409EFF;
        border-color: rgba(64, 158, 255, .8);
        background-color: rgba(64, 158, 255, .1);
    }



    .el-pagination.is-background .el-pager li:not(.disabled):hover {
        color: #409EFF
    }

    .el-pagination.is-background .el-pager li:not(.disabled).active {
        background-color: #409EFF;
        color: #fff
    }

    .el-menu {
        border-right: solid 0px #fff
    }

    /*.el-menu-item.is-active {*/
    /*color: #409EFF*/
    /*}*/

    .el-image-viewer__close .el-icon-circle-close {
        color: #fff
    }

    .el-link {
        color: inherit;
    }

    /* 按钮区 */

    .btn-style {
        color: #fff;
        background-color: #409EFF;
        border: 0;
    }

    .btn-style:focus,
    .btn-style:hover {
        color: #fff;
        background-color: rgba(64, 158, 255, .8);
    }

    .btn-style.is-disabled,
    .btn-style.is-disabled:active,
    .btn-style.is-disabled:focus,
    .btn-style.is-disabled:hover {
        background-color: rgba(64, 158, 255, .6);
        border-color: rgba(64, 158, 255, .6);
        color: #fff
    }

    .btn-all {
        width: 100%;
    }

    .gradient-btn-style,.gradient-btn-style:hover,.gradient-btn-style:active,.gradient-btn-style:focus {
        background-image: linear-gradient(0deg, #8e0000 0%, #cc1313 100%), linear-gradient(#f0f0f3, #f0f0f3);
        background-blend-mode: normal, normal;
        border: none;
        color: #fff;
    }

    .gradient-btn-style:hover {
        opacity: 0.7;
    }

    /* 添加按钮 */

    .btn-upload {
        width: 100%;
        height: 100%;
        line-height: 2;
        background-color: #f4f4f5;
        border: 0;
        overflow: hidden;
        cursor: pointer;
    }

    .btn-upload:hover {
        background-color: #eee
    }

    .btn-upload img {
        max-width: 100%;
        max-height: 100%;
    }

    /* 弹出层style*/

    .el-dialog__wrapper {

        display: -ms-flex;
        display: flex;
        align-items: center;
    }

    .el-dialog__headerbtn {
        top: 10px;
        font-size: 30px;
    }

    .el-dialog__headerbtn .el-dialog__close {
        font-size: 30px;
    }

    .class-views .el-checkbox {
        margin: 0 10px 0 0
    }

    .dialog-content {
        max-height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0px 40px;
    }

    /* 图片swiper/预览 */

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-container .swiper-slide {

        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-container .swiper-slide img {
        max-width: 100%;
        max-height: 100%;
    }

    .swiper-pagination-bullet {
        background-color: #c0c3c5;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: #409EFF;
    }

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        text-align: right;
    }

    @media screen and (min-width: 1000px) {
        .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
            text-align: right;
            width: calc(100% - (100% - 1000px) / 2);
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 36px;
        height: 36px;
        background: rgba(31, 45, 61, .11);
        margin: 0;
    }

    .pic-view {
        height: 500px;
    }

    /*省市区三级联动style*/

    .area-select {
        height: 40px;
        border: 1px solid #e1e2e6;
        border-radius: 2px;
        box-sizing: border-box;
    }

    .area-select:hover {
        border-color: #409EFF;
    }

    .area-select:focus {
        border-color: #67c23a;
    }

    .area-select .area-selected-trigger {
        padding: 0 0 0 10px;
        line-height: 40px;
        font-size: 12px;
    }

    .area-selectable-list .area-select-option {
        font-size: 12px;
    }

    .area-selectable-list-wrap {
        border: 1px solid #e4e7ed;
    }

    .area-selectable-list .area-select-option.selected {
        color: #409EFF;
        background-color: #f5f7fa;
    }

    .area-selectable-list .area-select-option.hover {
        background-color: #f5f7fa;
    }

    /* 查看素材 */

    .material .material-view {
        height: 400px;
        position: relative;
        overflow: hidden;
    }

    .material iframe,
    .material audio,
    .material video {
        width: 100%;
    }

    .material iframe,
    .material video {
        height: 400px;
    }

    .material .iframe-content {
        width: 100%;
        height: 400px;
        overflow: hidden;
    }

    .material .iframe-content iframe {
        height: 485px;
        margin-top: -90px;
    }

    /*通用样式*/

    img {
        border: none
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
    }

    a {
        color: #666;
        text-decoration: none
    }

    /*.f12 {*/

    /*font-size: 12px;*/

    /*}*/

    /*.f13 {*/

    /*font-size: 13px;*/

    /*}*/

    .el-input__inner {
        padding-left: 10px;
        border-radius: 2px;
        font-size: 12px;
    }

    .el-textarea__inner {
        padding-left: 10px;
        border-radius: 2px;
        font-size: 12px;
    }

    /* body */

    .wrap {
        height: 100%;
    }

    .container {
        min-width: 400px;
        width: 100%;
        min-height: 100%;
    }

    .login-container {
        margin: 0;
    }

    .container h2 {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        margin-bottom: 20px;
        font-size: 18px;
        border-bottom: 1px solid #DCDFE6;

        display: -ms-flex;
        display: flex;
        align-items: center;
    }

    .container h2 .el-breadcrumb__inner {
        font-size: 20px;
    }

    .content .filter {
        margin-left: 10px;
        margin-right: 10px;
        flex-wrap: wrap;
    }

    .filter .el-input {
        width: auto;
        min-width: 200px;
    }

    .content .filter .el-select {
        width: auto;
    }

    .content .list {
        margin: 20px 10px;
    }

    .content .list .el-button + .el-button {
        margin-left: 4px;
    }

    .content li {
        position: relative;
    }

    .btn-edit {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    .btn-edit img {
        width: 100%;
        height: 100%;
    }

    .info-group h3 {
        border-bottom: solid #eeeeee 1px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .el-table::before {
        height: 0px;
    }

    .el-table--border {
        border-bottom: 1px solid #EBEEF5
    }

    .el-select-dropdown {
        max-width: 900px;
    }

    /*门户*/

    .portal-container {
        /*外部container*/
        /*max-width: 1664px;*/
        min-width: 1100px;
        margin: 0 auto;
        padding: 0 46px;
        box-sizing: border-box;
    }

    .maxw-container {
        /*限制最大宽度的外部container*/
        max-width: 1000px;
        min-width: 1000px;
        width: 1000px;
        margin: 0 auto;
        box-sizing: border-box
    }

    .admin-maxw-container {
        max-width: 1200px;
        min-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box
    }

    .img16_9 {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 56.25%;
    }

    .img16_9 img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*列表hover效果*/

    .animated-item {
        transition: All 0.4s ease-in-out;
        -webkit-transition: All 0.4s ease-in-out;
        -moz-transition: All 0.4s ease-in-out;
        -o-transition: All 0.4s ease-in-out;
        cursor: pointer;
        /*border: 1px #e6e6e6 solid;*/
    }

    .animated-item:hover {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        background: #FFFFFF;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }

    img[lazy=loading] {
        object-fit: contain;
    }

    img[lazy=error] {
        object-fit: contain;
    }

    .portal-echarts-tooltip-div {
        max-width: 200px;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 5px 10px;
    }

    .ql-editor {
        line-height: 1.75 !important;
    }

